@page "/"
<div class="category-card">
    <div class="header">
        <i class="fa-solid fa-user"></i>
   </div>

   <div class="footer">
        <p>Suoup</p>
        <p>10 Items</p>
   </div>


    
</div>


@code {

}

<style>
    .category-card {
        background-color: pink;
        padding:10px;
        height: 150px;
        width: 150px; /* Adjust the width as needed */
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin: 10px;
    }

    .header {
        align-items: center;
        padding: 10px;
    }

   

    .footer {
        margin-top:20px;
        align-items: center;
        margin-bottom:0;
    }

    

</style>
