@page "/"
<div class="m-auto mt-7 flex h-40 w-44 rounded-xl bg-rose-300 shadow-2xl shadow-gray-300">
    <div class="icon flex flex-col p-4">
        <i class="fa-solid fa-mug-saucer"></i>
        <div class="mt-16 font-mono text-xl text-gray-900">Breakfast</div>
        <div class="font-mono text-xs text-gray-600">10 items</div>
    </div>
</div>
        



@code {

}

<style>
    .category-card {
        background-color: pink;
        padding:10px;
        height: 150px;
        width: 150px; /* Adjust the width as needed */
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin: 10px;
    }

    .header {
        align-items: center;
        padding: 10px;
    }

   

    .footer {
        margin-top:20px;
        align-items: center;
        margin-bottom:0;
    }

    

</style>
